<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<title>LivroSC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
    <link rel="stylesheet" type="text/css" href="/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="/css/css2.css" />

   
    <link type="text/css" rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  
</head>
  <body >
    <header>
      <h1 class="float-l">
        Bem vindos ao livroSC!
      </h1>
      
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
            <a href="/paginaInicial" title="Página Inicial">Página Inicial</a>
          </li>
          <li>
            <a href="/produto/listar" title="Produtos">Produtos</a>
          </li>
          <li>
            <a href="/sobrenos" title="Sobre nós">Sobre nós</a>
          </li>
          <li>
            <a href="/contato" title="Contato">Contato</a>
          </li>
          <li>
            <a href="/cadastro" title="Cadastro">Cadastro</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="sobreNos1">
      <p>
        <center><strong>Sobre nós</strong></center>
      </p>

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-2 col-lg-12">
            <p> Fundada em 2009, a LivroSC tem como objetivo formar um catálogo eclético, de valor literário e comercial, que compreenda o melhor da literatura brasileira e estrangeira de ficção, negócios, humanidades, esportes, música e viagens, além de acolher os autores consagrados bem como jovens promessas.</p>
            
            <p> Com grande reconhecimento por sua qualidade no atendimento e nos serviços, a LivroSC abriu sua segunda unidade no bairro Cedro, próxima a Universidade Federal do Ceará, o que a tornou mais popular entre estudantes e jovens da época.
            </p>

            <p> O rápido crescimento da rede começou a partir de 2015, quando a empresa, agora administrada pelo filho do fundador, adotou o sistema de franquia para expandir seus negócios, baseada no conceito de que a presença do “dono” franqueado na loja, aumenta a fidelidade da clientela e a produtividade dos funcionários, gerando maiores vendas e lucros.
            </p>
          </div>
        </div>
      </div>
    </section>


<footer id="rodape">
      <p>
        
        <div class="escrita">
        
        <p> Telefone: (85) 3467-9034 -- Fundada em 2009 -- 
          Criado por Sara Cibelle Queiroz 
          
        </p>
       
      </h1>   
      </div>
    </footer>


  </body>
</html>