<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<title>LivroSC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
    <link rel="stylesheet" type="text/css" href="/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="/css/css2.css" />

   
    <link type="text/css" rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  
</head>
  <body >
    <header>
      <h1 class="float-l">
        Bem vindos ao livroSC!
      </h1>
      
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
            <a href="/paginaInicial" title="Página Inicial">Página Inicial</a>
          </li>
          <li>
            <a href="/produtos" title="`Produtos">Produtos</a>
          </li>
          <li>
            <a href="/sobrenos" title="Sobre nós">Sobre nós</a>
          </li>
          <li>
            <a href="/contato" title="Contato">Contato</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="sucesso" >
    	  <br>
          <br>
          <br>
    
    	  <h1>Operação realizada com sucesso!</h1>          
    	  <br>
          <br>
          <br>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <footer id="rodape">
      <p>
        
        <div class="escrita">
        
        <p> Telefone: (85) 3467-9034 -- Fundada em 2009 -- 
          Criado por Sara Cibelle Queiroz 
          
        </p>

      </div>
    </footer>

  </body>
</html>